<!doctype html>
<html lang="en">
  <head>
    <%-include('partials/headcontent.ejs')%>
    <link rel="stylesheet" type="text/css" href="css/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <%-include('partials/header')%>
    <div class="container">
      <div class="row wrapper" style="border-bottom: #2C3E50 solid 2px;">
        &nbsp;&nbsp;&nbsp;<h1 id="head">Profile</h1>
      </div>

      <div class="row wrapper">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="label">Username:</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
          <h2><%=username%></h2>
        </div>
      </div>
      <div class="row wrapper">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="label">Email:</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
          <h2><%=email%></h2>
        </div>
      </div>

      <div class="row wrapper">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="label">Balance:</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
          <h2><%=balance%> ICR</h2>
        </div>
      </div>

    </div>
    <%-include('partials/footer.ejs')%>
  </body>
</html>