<!doctype html>
<html lang="en">
<head>
    <%-include('partials/headcontent.ejs')%>
    <title>Book Room</title>
    <link rel="stylesheet" href="css/rooms.css" />
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container" id="rooms_container">
        <h1 style="color:#2C3E50;">Current Booking</h1>
        <hr style="border-top: 4px solid black;">
        <%if (!roomTypes.length){%>
            <h2 style="color: crimson;">No rooms are booked</h2>
        <% }else{%>
            <%roomTypes.forEach(function(room,index){%>
            <div style="display: block;"></div>
            <span style="font-weight: bold; font-size: 2.5em; color: crimson;"><%=index + 1%></span>
            <span style="font-weight: bold; font-size: 2.5em; color: crimson;"><%=room%></span>
            <a href="/appliances" style="font-size: 2.5em; text-decoration: none; margin-left: 2em; color: #4CA1AF;">Go to room controls --></a>
            <%})%>
        <%}%>
    </div>

    <%-include('partials/footer.ejs')%>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
