<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
</head>
<body>
<%-include('partials/header.ejs')%>
<%if(success_msg!==''){%>
   <h1><%=success_msg%></h1>
<%}%>
<%if(error!==''){%>
   <h1><%=error%></h1>
<%}%>
<form method="post" action="/sign-in">
    <label>Username<input type="text" name="username" value="<%=typeof username==='undefined'?'':username%>"/> </label>
    <%if (typeof errors!=='undefined' && errors.username){%>
      <h1><%=errors.username%></h1>
    <%}%>
    <label>Password<input type="password" name="password" /> </label>
    <%if (typeof errors!=='undefined' && errors.password){%>
      <h1><%=errors.password%></h1>
    <%}%>
    <button type="submit">Log In</button>
</form>
</body>
</html>
