<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
<%-include('partials/header.ejs')%>

<%if(typeof errors!=='undefined' && errors.message){%>
      <h1><%=errors.message%></h1>
<%}%>

<%if(typeof errors!=='undefined' && errors.other){%>
  <h1><%=errors.other%></h1>
<%}%>

<form method="post" action="/sign-up" novalidate>
    <label>Name: <input type="text" name="username" value="<%=typeof username==='undefined'?'':username%>" /> </label>

    <%if(typeof errors!=='undefined' && errors.username){%>
      <h1><%=errors.username%></h1>
    <%}%>

    <label>Email:<input type="email" name="email" value="<%=typeof email==='undefined'?'':email%>"/> </label>

    <%if(typeof errors!=='undefined' && errors.email){%>
      <h1><%=errors.email%></h1>
    <%}%>

    <label>Password:<input type="password" name="password" /> </label>

    <%if(typeof errors!=='undefined' && errors.password){%>
      <h1><%=errors.password%></h1>
    <%}%>

    <label>Public Key:<input type="text" name="publicKey" value="<%=typeof publicKey==='undefined'?'':publicKey%>"/> </label>

    <%if(typeof errors!=='undefined' && errors.publicKey){%>
      <h1><%=errors.publicKey%></h1>
    <%}%>

    <label>Private Key:<input type="password" name="privateKey" /> </label>

    <%if(typeof errors!=='undefined' && errors.privateKey){%>
      <h1><%=errors.privateKey%></h1>
    <%}%>

    <button type="submit">Sign Up</button>
</form>
</body>
</html>
